html,
body,
body * {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 5px;
}

p {
    font-size: 12pt;
    vertical-align: middle;
    text-align: center;
}

form {
    display: grid;
    row-gap: 10px;
    width: 400px;
    background: #ccc;
    margin: 10px 3px;
    padding: 20px;
    border: 1px solid black;
    border-style: groove;
    border-radius: 8px;
}

form p {
    text-align: left;
    margin-bottom: 5px;
}

form ol {
    padding: 5px;
}

form li,
ul>li {
    display: flex;
    background: #eee;
    justify-content: space-between;
    list-style-type: none;
    border: 1px solid black;
    width: 100%;
    border-radius: 5px;
}

form img {
    height: 64px;
    order: 1;
    border-radius: 0 5px 5px 0;
}

form span {
    display: table;
    box-sizing: border-box;
    vertical-align: middle;
    margin: auto;
    padding: 5px;
    font-size: 8pt;
}

form label {
    background-color: rgb(190, 190, 190);
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px ridge black;
    font-size: 0.8rem;
    height: auto;
    text-align: center;
}

form input[type="button"] {
    padding: 5px 15px;
    text-align: center;
    width: 100%;
    margin: 5px auto;
}

form input[type="text"],
form input[type="number"] {
    width: 100%;
    padding: 5px;
}

form label:hover,
form button:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

form label:active,
form button:active {
    background-color: #0D3F8F;
    color: white;
}

section {
    border-color: grey;
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    padding-bottom: 80px;
    width: 21cm;
}

.container {
    width: 100%;
    text-align: center;
    vertical-align: top;
    margin-right: auto;
    margin-left: auto;
    min-height: fit-content;
}

.box {
    display: inline-table;
    border-color: black;
    border-style: groove;
    vertical-align: top;
    border-radius: 15px;
    padding: 0;
}

.box>img,
.box p {
    border-radius: 14px 14px 0px 0px;
    font-size: 6pt;
    margin: 0;
}

.status {
    width: 100%;
    text-align: center;
    color: brown;
}

progress {
    width: 50%;
}

#cabecalho {
    display: grid;
    grid-template-columns: 10% 90%;
    margin: 0.5cm;
}

#texto {
    display: grid;
    justify-content: center;
    list-style-type: none;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
}

#texto h1 {
    display: table;
    box-sizing: border-box;
    vertical-align: middle;
    margin: auto;
    padding: 5px;
    font-size: 40px;
}